<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="form-group">
    <label for="name">Name</label>
    <input
      type="string"
      class="form-control"
      id="name"
      formControlName="name"
      [class.is-invalid]="isInvalid('name')"
    />
    <div class="invalid-feedback">
      Please enter a Name.
    </div>
  </div>
  <div class="form-group form-check">
    <input
      type="checkbox"
      class="form-check-input"
      id="hasDriverLicense"
      formControlName="hasDriverLicense"
    />
    <label class="form-check-label" for="hasDriverLicense"
      >Has driver license</label
    >
  </div>
  <button
    [disabled]="form.invalid"
    type="submit"
    class="btn btn-primary d-inline"
  >
    Add
  </button>
  <span class="ml-2">{{ status$ | async }}</span>
</form>

<mat-card class="dashboard-card">
  <mat-card-header>
    <mat-card-title>
      Add New Product
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="dashboard-card-content">
    <form [formGroup]="form" fxLayout="column" fxLayoutGap="10px">
      <div fxFlex fxLayout="column">
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input required matInput placeholder="Name" />
          <mat-icon matPrefix>label_important</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Generic Name</mat-label>
          <input required matInput placeholder="Generic Name" />
          <mat-icon matPrefix>label_important</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Supplier</mat-label>
          <input required matInput placeholder="Supplier" />
          <mat-icon matPrefix>label_important</mat-icon>
        </mat-form-field>
      </div>

      <mat-divider [inset]="true"></mat-divider>

      <div fxLayout fxLayoutGap="10px">
        <mat-form-field fxFlex appearance="outline">
          <mat-label>Quantity</mat-label>
          <input required matInput placeholder="Quantity" type="number" />
          <mat-icon matPrefix>label_important</mat-icon>
        </mat-form-field>

        <mat-form-field fxFlex appearance="outline">
          <mat-label>Expiry Date</mat-label>
          <input
            required
            matInput
            placeholder="Expiry Date"
            [matDatepicker]="picker"
          />
          <mat-datepicker-toggle
            matPrefix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <div fxLayout fxLayoutGap="10px">
        <mat-form-field fxFlex appearance="standard">
          <mat-label>Cost</mat-label>
          <input required matInput placeholder="Cost" type="number" />
          <span matPrefix>PHP&nbsp;</span>
        </mat-form-field>

        <mat-form-field fxFlex appearance="standard">
          <mat-label>Retail Price</mat-label>
          <input required matInput placeholder="Retail Price" type="number" />
          <span matPrefix>PHP&nbsp;</span>
        </mat-form-field>
      </div>
    </form>
  </mat-card-content>

  <mat-card-actions fxLayout fxLayoutGap="10px">
    <button fxFlex mat-raised-button color="accent" (click)="form.reset()">
      Clear
    </button>

    <button
      fxFlex
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="!form.valid"
    >
      Add
    </button>
  </mat-card-actions>

  <mat-card-footer>
    <!-- <mat-error *ngIf="form.invalid">{{  }}</mat-error> -->
  </mat-card-footer>
</mat-card>
