<main fxLayout="column" fxLayoutGap="30px">
  <form
    [(formGroup)]="form"
    #directive="ngForm"
    (ngSubmit)="submit(form, directive)"
    fxLayout="column"
    fxLayoutGap="10px"
  >
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          Add New Product
        </mat-card-title>
        <mat-card-subtitle>
          {{ status$ | async }}
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div fxLayout fxLayoutGap="10px">
          <mat-form-field appearance="outline">
            <mat-label>Product ID</mat-label>
            <input
              required
              matInput
              placeholder="ID"
              id="id"
              formControlName="id"
              (blur)="transformUpper('id')"
              [class.is-invalid]="isInvalid('id')"
            />
            <mat-icon matPrefix color="accent">label_important</mat-icon>
          </mat-form-field>

          <mat-form-field fxFlex appearance="outline">
            <mat-label>Product Name</mat-label>
            <input
              required
              matInput
              placeholder="Name"
              id="name"
              formControlName="name"
              (blur)="transformUpper('name')"
              [class.is-invalid]="isInvalid('name')"
            />
            <mat-icon matPrefix color="accent">label_important</mat-icon>
          </mat-form-field>
        </div>

        <div fxLayout fxLayoutGap="10px">
          <mat-form-field appearance="outline">
            <mat-label>Supplier</mat-label>
            <input
              required
              matInput
              placeholder="Supplier"
              id="supplier"
              formControlName="supplier"
              (blur)="transformUpper('supplier')"
              [class.is-invalid]="isInvalid('supplier')"
            />
            <mat-icon matPrefix color="accent">label_important</mat-icon>
          </mat-form-field>

          <mat-form-field fxFlex appearance="outline">
            <mat-label>Generic Name</mat-label>
            <input
              required
              matInput
              placeholder="Generic Name"
              id="genericName"
              formControlName="genericName"
              (blur)="transformUpper('genericName')"
              [class.is-invalid]="isInvalid('genericName')"
            />
            <mat-icon matPrefix color="accent">label_important</mat-icon>
          </mat-form-field>
        </div>

        <div fxLayout fxLayoutGap="10px">
          <mat-form-field fxFlex appearance="outline">
            <mat-label>Quantity</mat-label>
            <input
              required
              matInput
              placeholder="Quantity"
              type="number"
              min="1"
              id="quantity"
              formControlName="quantity"
              (blur)="getTotalPurchase()"
              [class.is-invalid]="isInvalid('quantity')"
            />
            <mat-icon matPrefix color="accent">label_important</mat-icon>
          </mat-form-field>

          <mat-form-field fxFlex appearance="outline">
            <mat-label>Expiry Date</mat-label>
            <input
              required
              matInput
              placeholder="Expiry Date"
              [matDatepicker]="expiryDate"
              id="expiryDate"
              formControlName="expiryDate"
              [class.is-invalid]="isInvalid('expiryDate')"
            />
            <mat-datepicker-toggle
              matPrefix
              [for]="expiryDate"
            ></mat-datepicker-toggle>
            <mat-datepicker color="accent" #expiryDate></mat-datepicker>
          </mat-form-field>

          <mat-form-field fxFlex appearance="outline">
            <mat-label>Purchase Date</mat-label>
            <input
              required
              matInput
              placeholder="Purchase Date"
              [matDatepicker]="purchaseDate"
              id="purchaseDate"
              formControlName="purchaseDate"
              [class.is-invalid]="isInvalid('purchaseDate')"
            />
            <mat-datepicker-toggle
              matPrefix
              [for]="purchaseDate"
            ></mat-datepicker-toggle>
            <mat-datepicker #purchaseDate></mat-datepicker>
          </mat-form-field>
        </div>

        <div fxLayout fxLayoutGap="10px">
          <mat-form-field fxFlex appearance="standard">
            <mat-label>Purchase Price per unit</mat-label>
            <input
              required
              matInput
              placeholder="Purchase Price"
              type="number"
              id="purchasePrice"
              formControlName="purchasePrice"
              (blur)="transformDecimal('purchasePrice'); getTotalPurchase()"
              (click)="$event.target.select()"
              [class.is-invalid]="isInvalid('purchasePrice')"
            />
            <span matPrefix>PHP&nbsp;</span>
          </mat-form-field>

          <mat-form-field fxFlex appearance="standard">
            <mat-label>Retail Price per unit</mat-label>
            <input
              required
              matInput
              placeholder="Retail Price"
              type="number"
              id="retailPrice"
              formControlName="retailPrice"
              (blur)="transformDecimal('retailPrice')"
              (click)="$event.target.select()"
              [class.is-invalid]="isInvalid('retailPrice')"
            />
            <span matPrefix>PHP&nbsp;</span>
          </mat-form-field>

          <mat-form-field fxFlex appearance="standard">
            <mat-label>Total Purchase</mat-label>
            <input
              required
              matInput
              placeholder="Total Purchase"
              type="number"
              id="totalPurchase"
              formControlName="totalPurchase"
              (blur)="transformDecimal('totalPurchase')"
              [class.is-invalid]="isInvalid('totalPurchase')"
            />
            <span matPrefix>PHP&nbsp;</span>
          </mat-form-field>
        </div>
      </mat-card-content>

      <mat-card-actions fxLayout="column" fxLayoutGap="10px">
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="!form.valid"
        >
          Add
        </button>

        <button
          mat-raised-button
          color="accent"
          type="reset"
          (click)="resetForm(form, directive)"
        >
          Cancel
        </button>
      </mat-card-actions>

      <mat-card-footer>
        <!-- <mat-error *ngIf="form.invalid">{{  }}</mat-error> -->
        <mat-error *ngIf="form.invalid">{{ status$ | async }}</mat-error>
      </mat-card-footer>
    </mat-card>
  </form>
</main>
