<main fxLayout="column" fxLayoutGap="30px">
  <form
    [(formGroup)]="transactionForm"
    (ngSubmit)="submit()"
    fxLayout="column"
    fxLayoutGap="10px"
  >
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          Add New Transaction
        </mat-card-title>
        <mat-card-subtitle> </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div fxFlex fxLayout="column" fxLayoutGap="10px">
          <form
            [formGroup]="itemForm"
            fxLayout="column"
            fxLayoutGap="10px"
            (ngSubmit)="add()"
          >
            <div fxLayout fxLayoutGap="10px">
              <mat-form-field fxFlex appearance="standard">
                <input
                  type="text"
                  placeholder="Search item"
                  aria-label="Number"
                  matInput
                  formControlName="search"
                  [matAutocomplete]="auto"
                  [value]="displayFn()"
                />
                <mat-autocomplete
                  #auto="matAutocomplete"
                  (optionSelected)="onSelectedItem($event.option)"
                >
                  <mat-option
                    *ngFor="let stock of filteredStock$ | async"
                    [value]="stock"
                  >
                    <span>{{ stock.name }}</span> |
                    <small>Stock: {{ stock.total }} | </small>
                    <small>Price: {{ stock.price }}</small>
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>

              <mat-form-field appearance="standard">
                <mat-label>Quantity</mat-label>
                <input
                  required
                  matInput
                  type="number"
                  placeholder="Quantity"
                  id="quantity"
                  formControlName="quantity"
                  min="1"
                  [max]="selectedItem ? selectedItem.total : 10"
                />
              </mat-form-field>

              <button
                mat-raised-button
                color="primary"
                type="submit"
                [disabled]="!itemForm.valid"
              >
                Add
              </button>
            </div>

            <div fxLayoutGap="10px">
              <mat-list *ngIf="orders.length > 0">
                <h3 matSubheader>Purchases</h3>
                <mat-list-item *ngFor="let order of orders">
                  <mat-icon matListIcon>delete</mat-icon>
                  <h4 matLine>{{ order.name }}</h4>
                  <p matLine>
                    {{ order.quantity }} pcs. | {{ order.price }} ea
                  </p>
                  <p>{{ (order.price * order.quantity).toFixed(2) }}</p>
                </mat-list-item>

                <mat-divider></mat-divider>

                <section *ngIf="transaction">
                  <h3 matSubheader fxLayoutAlign="center end">
                    Subtotal
                    <span fxFlex></span>
                    {{ transaction.subtotal.toFixed(2) }}
                  </h3>

                  <h3 matSubheader fxLayoutAlign="center end">
                    Tax (10%)
                    <span fxFlex></span>
                    {{ transaction.tax.toFixed(2) }}
                  </h3>

                  <h3 matSubheader fxLayoutAlign="center end">
                    <mat-slide-toggle
                      [checked]="discount"
                      (toggleChange)="onDiscountChange()"
                      >Discount (10%)</mat-slide-toggle
                    >
                    <span fxFlex></span>
                    {{ transaction.discount.toFixed(2) }}
                  </h3>

                  <mat-divider></mat-divider>

                  <h3 matSubheader fxLayoutAlign="center end">
                    Total
                    <span fxFlex></span>
                    {{ transaction.total.toFixed(2) }}
                  </h3>
                </section>
              </mat-list>
            </div>
          </form>
        </div>
      </mat-card-content>

      <mat-card-actions fxLayout="column" fxLayoutGap="10px">
        <div fxLayout fxLayoutGap="10px">
          <mat-form-field fxFlex appearance="outline">
            <mat-label>Transaction Date</mat-label>
            <input
              required
              matInput
              placeholder="Transaction Date"
              [matDatepicker]="timestamp"
              id="timestamp"
              formControlName="timestamp"
              [class.is-invalid]="isInvalid('timestamp')"
            />
            <mat-datepicker-toggle
              matPrefix
              [for]="timestamp"
            ></mat-datepicker-toggle>
            <mat-datepicker #timestamp></mat-datepicker>
          </mat-form-field>

          <mat-form-field fxFlex appearance="outline">
            <input
              type="text"
              placeholder="User"
              matInput
              id="user"
              formControlName="user"
            />
          </mat-form-field>
        </div>

        <button
          fxFlex
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="transaction === undefined"
        >
          Submit
        </button>
      </mat-card-actions>

      <mat-card-footer>
        <!-- <mat-error *ngIf="form.invalid">{{  }}</mat-error> -->
        <mat-error *ngIf="transactionForm.invalid"></mat-error>
      </mat-card-footer>
    </mat-card>
  </form>
</main>
