<mat-card fxLayout="column" fxLayoutGap="30px">
  <mat-card-header>
    <mat-card-title>Stock</mat-card-title>
    <mat-card-subtitle>
      Shows remaining total of each item.
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-accordion class="dashboard-card">
      <mat-expansion-panel *ngFor="let stock of stock$ | async">
        <mat-expansion-panel-header class="right-aligned-header">
          <mat-panel-title> {{ stock.name }} </mat-panel-title>
          <mat-panel-description>
            <span>Stock: {{ stock.total }} </span>
            <small>PHP {{ stock.price }}</small>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-list dense>
          <mat-list-item *ngFor="let item of stock.items">
            <mat-icon matListIcon>label_important</mat-icon>
            <span matLine>
              <mat-grid-list cols="5">
                <mat-grid-tile>
                  Purchased:
                  {{ item.purchaseDate.seconds * 1000 | date: 'MM-dd-yyyy' }}
                </mat-grid-tile>
                <mat-grid-tile>Supplier: {{ item.supplier }}</mat-grid-tile>
                <mat-grid-tile>Quantity: {{ item.quantity }}</mat-grid-tile>
                <mat-grid-tile>
                  Unit Price: PHP {{ item.purchasePrice }}
                </mat-grid-tile>
                <mat-grid-tile
                  >Retail Price: PHP {{ item.retailPrice }}
                </mat-grid-tile>
              </mat-grid-list>
            </span>

            <mat-divider></mat-divider>
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
</mat-card>
